/* Styles généraux */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Empêche le défilement de la page */
  width: 100%;
  height: 100%;
}

/* Conteneur principal ajusté pour un layout en deux colonnes */
.page-container {
  display: flex; /* Utilisation de flex pour un agencement en deux colonnes */
  width: 100vw;
  height: 100vh;
}

/* Conteneur pour l'image et le SVG */
.ile-container {
  width: 50%; /* Prend exactement la moitié de la largeur de l'écran */
  position: relative; /* Nécessaire pour le positionnement des overlays */
  display: flex;
}

/* Styles pour le composant de détails qui s'affiche sur le côté droit */
.zone-detail-container {
  width: 50%; /* Prend l'autre moitié de la largeur de l'écran */
  height: 100%; /* S'étend sur toute la hauteur de l'écran */
  overflow: auto; /* Permet le défilement si le contenu dépasse */
}

circle:hover {
  fill: #FFD700;
  opacity: 0.4;
  cursor: pointer;
}
